html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* font-family: "Monda", "Arial", "Noto Sans TC", "微軟正黑體", sans-serif; */
  font-family: "Monda", "Arial", "微軟正黑體", sans-serif;
}

html {
  overflow-y: hidden;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  border: none;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

/* ---loading--- */

.loading_wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #f0ebd8;
  z-index: 999;
}

.loading_content {
  position: absolute;
  width: 30vh;
  height: 30vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ico {
  position: absolute;
  width: 40%;
  height: 20%;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("./img/bg/loading.png");
  background-size: cover;
  animation: ico 3s linear infinite;
  transform-origin: 30% 30%;
}

@keyframes ico {
  0% {
    transform: translate(-50%, -50%) rotateY(0deg);
  }

  20% {
    transform: translate(-50%, -50%) rotateY(90deg);
  }

  50% {
    transform: translate(-50%, -50%) rotateY(0deg);
  }

  70% {
    transform: translate(-50%, -50%) rotateY(90deg);
  }
}

.word_lo {
  position: absolute;
  top: 50%;
  font-size: 1.5rem;
  color: #7eabb1;
  font-weight: 600;
  transform: translate(-50%, -50%);
}

.word_lo.w1 {
  left: 20%;
}

.word_lo.w2 {
  left: 40%;
}

.word_lo.w3 {
  left: 60%;
}

.word_lo.w4 {
  left: 80%;
}

/* ---footer&gotop--- */

#footer {
  /* position: fixed; */
  position: absolute;
  background-image: url("./img/bg/bg.jpg");
  min-height: 30vh;
  left: 0;
  right: 0;
  /* bottom: 0; */
  top:500vh;
  z-index: -1;
  padding: 50px 0;
  margin: 0;
}

#footer_content {
  position: fixed;
  height: 30%;
  bottom: 5%;
  width:80%;
  right:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer_logo {
  width: 40%;
  height: 50%;
  transition: 0.5s;
}

.footer_btn{
  width: 100%;
  height: 100%;
  display: flex;
}

.foot_img {
  width: auto;
  height: 70%;
}

.foot_img:hover {
  animation: footer_logo 1s infinite;
}

.foot_img:active {
  transform: scale(1.1);
}

@keyframes footer_logo {
  0% {
    transform:  scale(1);
  }

  50% {
    transform:  scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.link_content {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
}

.next_img{
  width: auto;
  height: 60%;
}

.link_text {
  text-decoration: none;
  color: #f0ebd8;
  font-size: 1.5rem;
  letter-spacing: 0.15em;
  transition: 0.5s;
  font-weight: 700;
  background-color: #7eabb1;
  padding: 15px 40px;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  animation: next_btn 1s infinite;
}

@keyframes next_btn{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
}

.link_text:hover {
  color: #ffdb02;
}

.link_text span{
  font-size: 1.1rem;
}

.copyright {
  width: 100%;
  height: 100%;
  top: 30%;
  left: 0;
  color: #f0ebd8;
  font-size: 0.75rem;
  opacity: 0.5;
  letter-spacing: 0.1em;
}

.sns_content {
  display: flex;
  justify-content: space-around;
}

.sns_content.s_footer {
  top: 0;
  right: 0;
  margin-left: 30px;
}

.sns_content.s_menu {
  position: absolute;
  top: 85%;
  left: 52.5%;
  /* width: 10%; */
}

.sns_btn {
  width:3rem;
  height: 3rem;
  top: 0;
  background: rgba(240, 235, 216, 0.25);
  border-radius: 50%;
  transition: 0.5s;
  margin: 10px;
}

.sns_btn:hover {
  background: #ffdb02;
}

.sns_btn:active {
  transform: scale(1.1);
}

#buttons_all {
  position: fixed;
  width: 3rem;
  height: 3rem;
  bottom: 3%;
  right: 1%;
}

#gotop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(240, 235, 216, 0.25);
  top: 10%;
  /*這個要開不然還沒滾卷軸就會出現*/
  display: none;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  box-shadow: 0 0 3vh rgba(0, 0, 0, 0.15);
}

#gotop:hover {
  background: #f0ebd8;
  transition: 0.5s;
}

#gotop:active {
  background: #f0ebd8;
  transition: 0.5s;
  transform: translate(-50%) scale(1.2);
}

#gotop,
.sns_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_img {
  width: 50%;
  height: auto;
  opacity: 0.25;
}

/*---progress---*/

#progress {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 12.5%;
  text-align: center;
  background-image: url("./img/bg/bg.jpg");
  border: none;
}

.progress_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
}

.progress_line {
  position: absolute;
  width: 100%;
  height: 5%;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
}

.p_line {
  position: absolute;
  width: 15%;
  height: 100%;
  top: 0;
  background: #f0ebd8;
  border-radius: 50px;
  opacity: 0.25;
}

.p_line.l1 {
  left: 22.5%;
}

.p_line.l2 {
  left: 42.5%;
}

.p_line.l3 {
  left: 62.5%;
}

.stop {
  position: absolute;
  width: 15%;
  height: 100%;
  top: 0;
  transform: translate(-50%);
  opacity: 0.25;
  transition: 0.5s;
}

.stop:hover {
  opacity: 1;
}

.stop.s1 {
  left: 20%;
}

.stop.s2 {
  left: 40%;
}

.stop.s3 {
  left: 60%;
}

.stop.s4 {
  left: 80%;
}

.ball_intro {
  position: absolute;
  /* width: 5vh; */
  /* height: 5vh; */
  width: 2.5rem;
  height: 2.5rem;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  background-image: url("./img/bg/loading_bg.jpg");
  border-radius: 50%;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.3);
}

.btn_intro {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%);
  text-decoration: none;
  /* font-size: 2vh; */
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  color: #f0ebd8;
}

/* ---section--- */

#bg {
  /* position: absolute; */
  position: relative;
  width: 100vw;
  height: 500vh;
  background-image: url("./img/bg/bg.jpg");
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  /* box-shadow: 0 1vh 3vh rgba(0, 0, 0, 0.3); */
  visibility: hidden;
}

#section1,
#section2,
#section3,
#section4,
#section5 {
  position: absolute;
  width: 100%;
  height: 20%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

#section1 {
  top: 0;
}

#section2 {
  top: 20%;
}

#section3 {
  top: 40%;
}

#section4 {
  top: 60%;
}

#section5 {
  top: 80%;
}

.who,
.pick,
.prepare,
.food {
  position: absolute;
  top: 40%;
  left:20%;
  display: flex;
}

.who {
  width: 50%;
  height: 55%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}

.pick {
  width: 60%;
  height: 50%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.prepare {
  width: 65%;
  height: 40%;
  justify-content: space-around;
  align-content: flex-end;
}

.food {
  width: 60%;
  height: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}

.info,
.content,
.open_title,
.open_content {
  position: absolute;
  color: #f0ebd8;
  letter-spacing: 0.1em;
}

.info {
  top: 15%;
  left: 20%;
  font-size: 2.75rem;
  font-weight: 700;
  width:80%;
}

.info::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  margin: -25px;
  background: #ffdb02;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
  border-radius: 5px;
}

.content {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 180%;
  margin-top: 10px;
}

/*---s1---*/

.open_title,
.open_sub {
  font-weight: 700;
}

.open_title {
  top:25%;
  left:22.5%;
  width:50%;
  font-size: 3.25rem;
  /* text-align: center; */
  transform: translate(-50%);
  line-height: 1;
}

.open_sub {
  font-size: 1.5rem;
}

.open_content {
  top: 52.5%;
  left:22.5%;
  font-size: 1.1rem;
  line-height: 180%;
  font-weight: 500;
}

.open_highlight {
  color: #ffdb02;
  font-weight: 700;
}

.fairy_content {
  position: absolute;
}

.fairy_content.f1 {
  width: 46%;
  height: 50%;
  bottom: 0;
  left:30%;
}

.fairy_content.f2 {
  width: 30%;
  height:60%;
  top:0%;
  right: 0;
}

.fairy_open {
  position: absolute;
  width: auto;
  height: 80%;
  top: 0;
  right: 0;
  transition: 0.5s;
}

.fairy_open:hover {
  animation: fairy 2s infinite;
}

@keyframes fairy {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(2deg);
  }

  50% {
    transform: rotate(-2deg);
  }

  70% {
    transform: rotate(0deg);
  }
}

/*---s2---*/

.fairy_talk {
  position: absolute;
  width: 50%;
  height: 30%;
  top: 10%;
  left: 10%;
}

.fairy_bubble {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(-1);
}

.talk_word {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.3);
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  text-align: center;
  font-weight: 700;
}

.animal_compare {
  position: absolute;
  width: auto;
  height: 120%;
  transform: translate(-50%,-40%);
  animation: animal_move 2s infinite;
}

@keyframes animal_move {
  0%{
    transform: rotate(0) translate(-50%,-40%);
  }
  50%{
    transform: rotate(5deg) translate(-50%,-40%);
  }
}

.compare_img {
  position: absolute;
  width: auto;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal_btn {
  background: rgba(0, 0, 0, 0.15);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.animal {
  width: auto;
  height: 90%;
  animation: animal_up 1s alternate infinite;
}

.animal_compare {
  left: 75%;
  top: 50%;
}

@keyframes animal_up {
  0% {
    transform: translateY(1vh);
  }
}

.animal.a1 {
  top: 48%;
}

.animal.a2 {
  top: 46%;
}

.animal.a3 {
  top: 48%;
}

.animal.a4 {
  top: 48%;
}

.animal.a5 {
  top: 48%;
}

.animal.a6 {
  top: 56%;
}

.shadow {
  width: 30%;
  height: 5%;
  bottom: 5%;
  left: 50%;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  filter: blur(5px);
}

/*---s3---*/

.pick_area{
  width: 45%;
  height: 45%;
  background-image: url("./img/bg/loading_bg.jpg");
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.pick_img{
  width: auto;
  height: 80%;
  margin: 15px;
  border-radius: 10px;
}

.pick_title{
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 700;
  margin: 15px;
  letter-spacing: 0.1em;
}

.pick_title span{
  line-height: 250%;
  color: #a17e3a;
  opacity: 0.5;
}

/*---s4---*/

#extra{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.prepare_img{
  width:auto;
  height:100%;
  margin-right: 20px;
  border-radius: 10px;
}

.prepare_content,
.prepare_extra {
  width:90%;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: rgba(0, 0, 0, 0.3);
}

.prepare_extra {
  font-size: 1.5rem;
}

.prepare_content {
  font-size: 1.1rem;
}

/*---s5---*/

.modal_food_btn {
  top: 10%;
  height: 80%;
  border-radius: 30%;
  background: url("./img/bg/loading_bg.jpg");
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.modal_food_btn::before {
  order:1;
  margin-top: -10px;
}

.modal_food_btn::after {
  order:3;
  margin-bottom: -10px;
}

.modal_food_btn:hover {
  box-shadow: 0vh 0vh 5vh #f0ebd8;
}

.modal_food_btn:active {
  transform: scale(1.1);
}

.modal_food_btn:before,
.modal_food_btn:after {
  content: "";
  width: 50%;
  height:10px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}

.food_ribbon {
  width: 20%;
  height:40px;
  margin-bottom: -40px;
  order:4;
}

.ribbon_line {
  width: 100%;
  height:60%;
  margin-bottom: -90px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50% 50% 0 0/100% 100% 0 0;
}

.food_light{
  height:100%;
  order:2;
  display: flex;
  align-items: center;
}

.food_guess {
  writing-mode: vertical-rl;
  font-size: 1.1rem;
  letter-spacing: 0.15em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
}

.modal_btn:hover,
.modal_btn:focus {
  background: #d1ac64;
}

.modal_btn:active {
  background: #a17e3a;
}

/*---modal---*/

.modal_card {
  width:30%;
  height:45%;
  margin: 5px;
}

.modal_food_card {
  width: 15%;
  height: 100%;
  margin: 5px;
}

.modal_compare {
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0, 0, 0, 0.75);
  transition: opacity 0.25s ease;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked+.modal {
  opacity: 1;
  visibility: visible;
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-state:checked+.modal .modal__inner,
.modal-state:checked+.modal .modal__inner_food {
  top: 0;
  transform: scale(0);
  animation: zoomIn 0.5s 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes unfoldIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.modal__inner,
.modal__inner_food {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 60%;
  margin: auto;
  overflow: hidden;
  background-image: url("./img/bg/bg.jpg");
  border-radius: 1%;
  padding: 5% 5%;
}

.modal__inner {
  height: 70%;
  top: -20%;
}

.modal__inner_food {
  height: 50%;
  top: -10%;
}

.modal_inner_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.modal__close {
  position: absolute;
  right: 5%;
  top:50px;
  width: 3.25rem;
  height: 3.25rem;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 15%;
  left: 50%;
  top: 0;
  background-color: #f0ebd8;
  display: block;
  transform: rotate(45deg);
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: rgba(0, 0, 0, 0.75);
}

.modal__close:before {
  transform: rotate(-45deg);
}

.modal_btn,
.modal_food_btn,
.compare_btn {
  cursor: pointer;
}

.ani_content{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ani {
  width: 50%;
  height:90%;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #f0ebd8;
  line-height: 180%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.ani_food {
  border-radius: 10px;
}

.note {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.note_ul {
  height: 100%;
  top: 0;
  padding-left: 0;
  list-style: none;
}

.note_ul.n_left {
  width: 30%;
}

.note_ul.n_right {
  width: 70%;
}

.note_li,
.front_li {
  padding: 1vh 0;
}

.front_li {
  color: rgba(0, 0, 0, 0.3);
}

.note_li+.note_li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.front_li+.front_li {
  border-bottom: 0.25vh solid transparent;
}

.ani_title {
  font-size: 3.25rem;
  font-weight: 700;
  color: #f0ebd8;
  line-height: 180%;
}

.ani_sub {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
}

.ani_img {
  width: auto;
  height: 80%;
}

.ani_category {
  position: absolute;
  width: 40%;
  height: 2.25rem;;
  color: rgba(240, 235, 216, 0.25);
  font-size: 2.25rem;
  letter-spacing: 0.15em;
  line-height: 2.25rem;;
}

.ani_category.ca_top {
  top: 2.5%;
  left: 5%;
  text-align: left;
}

.ani_category.ca_bottom {
  bottom: 2.5%;
  right: 5%;
  text-align: right;
}

.ani_line {
  position: absolute;
  height: 0.5%;
  background: rgba(240, 235, 216, 0.25);
}

.ani_line.line_top {
  width: 60%;
  top: 5%;
  left: 20%;
}

.ani_line.line_bottom {
  width: 55%;
  bottom: 5%;
  left: 5%;
}

/*---menu---*/

#menu {
  position: fixed;
  width: 15vh;
  height: 100vh;
  background: none;
  left: 0;
  top: 0;
  border-right: 0.25vh solid #f0ebd8;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.menu_bg {
  position: fixed;
  background-image: url("./img/menu/menu_bg.jpg");
  width: 120vw;
  height: 100vh;
  left: -150vw;
  top: 0;
  box-shadow: 0 0 5vh rgba(0, 0, 0, 0.3);
  transition: 1s;
}

.menu_bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.menu_link_content {
  position: absolute;
  width: 40%;
  height: 78%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
}

.menu_web {
  position: absolute;
  width: 100%;
  height: 13%;
  left: 0;
  text-decoration: none;
  border-top: 0.25vh solid rgba(240, 235, 216, 0.25);
  letter-spacing: 0.2em;
  transition: 0.5s;
}

.m_hover:hover {
  background: rgba(240, 235, 216, 0.25);
}

.menu_web.w1 {
  top: 0;
}

.menu_web.w2 {
  top: 13%;
}

.menu_web.w3 {
  top: 26%;
}

.menu_web.w4 {
  top: 39%;
}

.menu_web.w5 {
  top: 52%;
}

.menu_web.w6 {
  top: 65%;
}

.menu_web.w7 {
  top: 78%;
}

.menu_web.w_line {
  top: 91%;
}

.menu_link,
.m_span {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.menu_link {
  color: #f0ebd8;
  font-size: 3vh;
  padding-left: 30%;
}

.menu_link.m_big {
  font-size: 4vh;
}

.m_span {
  color: #ffdb02;
  font-size: 2vh;
  padding-left: 5%;
}

.menu_img {
  position: absolute;
  width: auto;
  height: 40%;
  top: 65%;
  left: 75%;
  transform: scaleX(-1);
}

.hamburger {
  position: absolute;
  width: 50%;
  height: 10vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#toggle {
  position: fixed;
  width: 10vh;
  height: 10vh;
  top: 50%;
  left: 7.5vh;
  border: none;
  margin: 0;
  transform: translate(-50%, -50%);
  opacity: 0;
}

#toggle:checked~.menu_bg {
  transform: translateX(140vw);
  transition: 1s;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  position: absolute;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #f0ebd8;
  stroke-width: 3.5;
  stroke-linecap: round;
  animation: line 1s infinite linear alternate;
}

@keyframes line {
  0% {
    stroke: #f0ebd8;
  }

  100% {
    stroke: #7eabb1;
  }
}

.ham .top {
  stroke-dasharray: 40 139;
}

.ham .bottom {
  stroke-dasharray: 40 180;
}

.ham.active .top {
  stroke-dashoffset: -98px;
}

.ham.active .bottom {
  stroke-dashoffset: -138px;
}
